
.swap-block__select {
  position: relative;
  background-color: var(--color-5);
  padding: 26px 16px;
  border-radius: 12px;
  margin: 20px 0;
}

.swap-block__select-trigger {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 30px;
  color: var(--color-2);
  background-color: var(--color-4);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    color: var(--color-4);
    background-color: var(--color-3);
  }
}

.swap-container__footer {
  margin-top: 20px;
}

.positions-modal {
  min-width: 500px;
  padding: 15px 30px 30px 30px;

  h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-1);
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  img {
    width: 30px;
    height: 30px;
  }

}

.positions-modal__item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color .2s ease;

  &:hover {
    background-color: var(--color-5);
  }
}

.positions--active {
  background-color: var(--color-5);
}

.positions-modal__usd-val {
  color: var(--color-3);
  font-weight: 600;
  font-size: 20px;
  margin-left: auto;
}

.positions-modal__notify {
  color: var(--color-12);
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 22px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-7);
  margin-bottom: 22px;
}

.divider--item {
  margin-top: 22px
}

.positions-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.positions-modal__item-imgs {
  display: flex;

  img:last-child {
    position: relative;
    right: 8px;
  }
}

.positions-modal__item-prim {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-1);
}

.positions-modal__price-prim {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-1);
}

.positions-modal__item-sec {
  font-size: 16px;
  color: var(--color-2);
}

.positions-modal__price-sec {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-2);
}


.positions-close {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 6px;
  cursor: pointer;
}

.positions-row--full {
  align-items: unset;
}

.full-block {
  width: 100%;
}