/* semantic color variables for this project */

:root, [data-theme="light"] {
  --color-1: #0f172a;
  --color-2: #687386;
  --color-3: #0497EC;
  --color-4: #ffffff;
  --color-5: #E3F2FD;
  --color-6: #A8D8FA;
  --color-7: #BAC0CB;
  --color-8: #F4FAFE;
  --color-9: #ff1100;
  --color-10: #ff6b6c;
  --color-11: #619300;
  --color-12: #91b845;
  --color-13: #bee179;
  --color-14: #ffba00;
  --color-15: #ffde76;
  --color-16: #e3f2fd;
  --color-17: #D2D7E0;
  --color-18: #FCFC03;
  --color-19: #8791A3;
  --section-gap: 160px;
}

[data-theme="dark"] {
  --color-1: #eeeff2;
  --color-2: #687386;
  --color-3: #d1d6de;
  --color-4: #ffffff;
  --color-5: #333c3f;
  --color-6: #2a3245;
  --color-7: #192235;
  --color-8: #0497ec;
  --color-9: #ff1100;
  --color-10: #ff6b6c;
  --color-11: #619300;
  --color-12: #91b845;
  --color-13: #bee179;
  --color-14: #ffba00;
  --color-15: #ffde76;
  --color-16: #e3f2fd;
  --color-17: #0f172a;
  --color-18: #adbacd;
  --color-19: rgba(42, 50, 69, 0.5);
  --color-20: #FCFC03;
  --color-21: #BAC0CB;
  --section-gap: 160px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
  line-height: 1;
}
menu, ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

.link-underline:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

.link-no-underline:hover {
  text-decoration: none;
  color: var(--hover-color);
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-16);
  color: var(--color-2);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  [data-theme="dark"] & {
    background-color: var(--color-7);
}

  /* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  z-index: 1000;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-6);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-3);
}
}

svg, svg path {
  transition: all .05s ease;
}

a:hover,
router-link:hover {
  color: var(--color-2);
  transition: color 0.15s ease;
}

.link-ovn {
  text-decoration: underline;
  text-decoration-color: var(--color-2);

  &:hover {
    color: var(--color-3);
    transition: color 0.15s ease;
  }
}