@import './base.scss';

#app {
  height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.modal-link {
  color: var(--color-3);
  transition: box-shadow .05s ease;

  &:hover {
    box-shadow: 0px 1px 0px var(--color-3);
  }
}

// ANIMATIONS

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-fade-small-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-small-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-small-enter-from,
.slide-fade-small-leave-to {
  transform: translateY(10px);
  opacity: 0;
}


#squid-widget {
  background-color: #000!important;
}

body {
  top: 0!important;
  overflow: hidden;
}


$base-color: var(--color-5);
$shine-color: var(--color-4);
$animation-duration: 2.0s;
$avatar-offset: 52 + 16;

@keyframes shine-lines{
  0% { background-position: -100px;}
  40%, 100% {background-position: 140px;}
}

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
  [data-theme="dark"] & {
    background-image: linear-gradient(90deg, var(--color-17) 0px, $shine-color 40px, var(--color-17) 80px);
  }
}

.lineLoader {
  float: left;
  width: 100px;
  height: 100%;
  border-radius: 7px;
  border: 1px solid var(--color-1);
  box-shadow: 0px 1px 0px 0px var(--color-1);

  @include background-gradient;
  animation: shine-lines $animation-duration infinite ease-out;

  [data-theme="dark"] & {
    box-shadow: none;
    border-color: var(--color-2);
  }
}

.lineLoaderMobile {
  float: left;
  margin-top: 20px;
  width: calc(100vw - 40px);
  height: 50px;
  border-radius: 7px;
  border: 1px solid var(--color-1);
  box-shadow: 0px 1px 0px 0px var(--color-1);

  @include background-gradient;
  animation: shine-lines $animation-duration infinite ease-out;

  [data-theme="dark"] & {
    box-shadow: none;
    border-color: var(--color-2);
  }
  @media (max-width: 768px) and (min-width: 640px) {
    margin-top: 0;
  }
}


// GLOBAL STYLES, features

.lineLoader--balance {
  width: 50px;
  min-height: 15px;
  box-shadow: unset;
  border: 0;
}

.sidebar__icon-social:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.15s ease;
}

.sidebar__icon-social {
  fill: var(--color-2);
  [data-theme="dark"] & {
    fill: var(--color-18);
  }
}

.icon-twitter:hover {
  fill: var(--color-3);
  [data-theme="dark"] & {
    fill: var(--color-8);
  }
}

.icon-discord:hover {
  fill: #5765f1;
}

.sidebar__divider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--color-7);

  [data-theme="dark"] & {
    color: var(--color-18);
  }
}

.mob-menu {
  justify-content: flex-end!important;
  align-items: flex-start!important;
  min-height: 100%;
  z-index: 100!important;

  .modal__close {
    display: none;
  }
}

.mob-menu .modal--custom {
  min-height: 100vh;
  border-radius: 0!important;
  max-width: 350px;
  width: 100%;
  padding: 0 20px!important;
  border: unset!important;

  @media (max-width: 640px) {
    max-width: 100%;
    width: 100%!important;
  }
}

@keyframes pulse-animation-green {
  0% {
    box-shadow: 0 0 0 0 rgba(145, 184, 69, .3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-animation-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 107, 108, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-animation-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(4, 151, 236, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

:root {
  /* CUSTOMIZE ACCOUNT CENTER*/
  --account-center-z-index: 200000;
  /* MAIN MODAL POSITIONING */
  --onboard-modal-z-index: 200000;
  /* MAGIC WALLET MODAL POSITIONING */
  --onboard-login-modal-z-index: 200000;
  --notify-onboard-z-index: 200000;
  --wcm-z-index: 200000!important;
}
