@import './base.scss';

#app {
  padding-top: 100px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.modal-link {
  color: var(--color-3);
  transition: box-shadow .05s ease;

  &:hover {
    box-shadow: 0px 1px 0px var(--color-3);
  }
}

// ANIMATIONS

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

.slide-fade-small-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-small-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-small-enter-from,
.slide-fade-small-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
