.pools-wrap {
    width: 100%;
    backdrop-filter: blur(20px);
  
    @media (max-width: 1024px) {
    }
  
    @media (max-width: 768px) {
    }
  }
  
  .pools-wrap__loader {
    min-height: 300px;
    width: 100%;
    display: flex;
    padding-bottom: 50vh;
    justify-content: center;
    align-items: center;
  }
  
  .table-extend {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--color-7);
    color: var(--color-7);
    cursor: pointer;
    transition: background-color .2s ease;
    [data-theme="dark"] & {
      border-color: var(--color-2);
      color: var(--color-2);
    }
  
    h1 {
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 10px;
      transition: color .2s ease;
      [data-theme="dark"] & {
        color: var(--color-21);
      }
    }
  
    &:hover {
      color: var(--color-1);
      background-color: var(--color-4);
      [data-theme="dark"] & {
        color: var(--color-17);
      }
    }
  }